---
import ProgrammingLayout from "../../layouts/ProgrammingLayout.astro";
import DeveloperLayout from "../../layouts/DeveloperLayout.astro";
import { getCollection, render } from "astro:content";
import Download from "@lucide/astro/icons/download";
import Star from "@lucide/astro/icons/star";
import Briefcase from "@lucide/astro/icons/briefcase";
import Button from "../../components/programming/Button.astro";
import LanguageBar from "../../components/programming/LanguageBar.astro";
import ProjectTile from "../../components/programming/ProjectTile.astro";
import WorkExperienceCard from "../../components/programming/WorkExperienceCard.astro";
import Image from "astro/components/Image.astro";

const projects = await getCollection("programming");
const workExperience = await getCollection("programmingExperience");
const sortedExperience = workExperience.sort(
  (a, b) => a.data.order - b.data.order,
);
const sorted = projects.sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<DeveloperLayout mode="programming">
  <section
    class="flex flex-col gap-y-4 p-8 rounded-2xl my-12 bg-black/20 backdrop-blur-sm"
  >
    <!-- Hero -->
    <div class="flex flex-col gap-y-4">
      <div class="w-full flex flex-row gap-8">
        <Image
          src="https://assets.joenoseph.co.uk/me/me_002_square.webp"
          alt="Joe Thomas"
          class="md:h-40 md:w-40 h-20 w-20 object-cover rounded-full ring-4 ring-white/90"
          width={160}
          height={160}
        />
        <div class="h-full flex-2 flex-col gap-y-2 w-full">
          <h1 class="text-bold text-4xl md:text-5xl font-heading">
            Hey, I'm <span class="text-purple-500">Joe Thomas!</span> 👋
          </h1>
          <p class="text-lg md:text-xl mt-4">
            I'm a Creative Software Engineer, UI Technical Artist and Co-Founder
            + Technical Lead of <span
              class="underline decoration-wavy decoration-purple-500 decoration-2 font-heading"
              ><a href="/programming/labbo">Labbo</a></span
            >.
          </p>
          <p class="text-lg md:text-xl mt-4">
            I also love <span
              class="underline decoration-wavy decoration-purple-500 decoration-2 font-heading"
              ><a href="/photography">Photography</a></span
            >, travelling, bouldering and hiking.
          </p>
          <p class="text-sm my-4 group">
            <a
              href="https://www.google.com/maps/place/Liverpool,+UK"
              target="_blank"
              rel="noopener noreferrer"
            >
              Currently based in:<span class="font-heading"
                ><span
                  class="group-hover:animate-bounce transition-all duration-200"
                  >📍</span
                > Liverpool, UK</span
              ></a
            >
          </p>
        </div>
      </div>
      <!-- Socials -->
      <div>
        <div class="w-full flex flex-wrap md:flex-row gap-2">
          <Button
            href="https://github.com/joethomas490"
            label="GitHub"
            icon="https://cdn.simpleicons.org/github/ffffff"
          />
          <Button
            href="https://www.linkedin.com/in/jmthomas96/"
            label="LinkedIn"
            icon="/icons/linkedin.png"
          />
          <Button
            href="https://instagram.com/joenoseph"
            label="Instagram"
            icon="https://cdn.simpleicons.org/instagram/ffffff"
          />
          <Button
            href="mailto:joe_thomas490@hotmail.com"
            label="Email"
            icon="https://cdn.simpleicons.org/gmail/ffffff"
          />
          <Button
            href="https://assets.joenoseph.co.uk/JoeThomas_FrontendEngineer.pdf"
            label="Download CV"
            download
            class="flex-1 min-w-24"
          >
            <Download class="w-5 h-5" />
            Download CV
          </Button>
        </div>
      </div>
    </div>
    <div class="pt-0">
      <LanguageBar
        languages={{
          "C++": { percent: 25, colour: "#f34b7d" },
          Python: { percent: 20, colour: "#dea584" },
          TypeScript: { percent: 15, colour: "#3178c6" },
          React: { percent: 10, colour: "#5686a5" },
          HLSL: { percent: 15, colour: "#4caf50" },
          UE5: { percent: 10, colour: "#2b2d42" },
          TailwindCSS: { percent: 5, colour: "#563d7c" },
        }}
      />
    </div>

    <section class="py-12">
      <div class="flex flex-row gap-x-2 items-center mb-4">
        <h2 class="text-2xl font-bold font-heading">Projects</h2>
        <Star stroke-width={2} class="w-6 h-6 text-purple-500" />
      </div>
      <div
        class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 project-group"
      >
        {
          sorted.map((project) => (
            <ProjectTile
              href={`/programming/${project.id}`}
              title={project.data.title}
              description={project.data.description}
              heroImage={project.data.heroImage}
              tags={project.data.tags}
            />
          ))
        }
      </div>
    </section>
    <!-- Experience -->
    <section>
      <div class="flex flex-row gap-x-2 items-center mb-4">
        <h2 class="text-2xl font-bold font-heading">Experience</h2>
        <Briefcase stroke-width={2} class="w-6 h-6 text-purple-500" />
      </div>
      <div class="flex flex-col gap-4">
        {
          sortedExperience.map(async (exp) => {
            const { Content } = await render(exp);
            return (
              <WorkExperienceCard
                role={exp.data.role}
                studio={exp.data.studio}
                logo={exp.data.logo}
                dateRange={exp.data.dateRange}
                website={exp.data.website}
                active={exp.data.active}
              >
                <Content />
              </WorkExperienceCard>
            );
          })
        }
      </div>
    </section>
  </section>
</DeveloperLayout>

<style is:global>
  .project-group:has(.project-tile:hover) .project-tile:not(:hover) {
    opacity: 0.5;
    filter: brightness(0.6);
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }

  .project-tile {
    transition:
      opacity 0.3s ease,
      filter 0.3s ease;
  }
</style>
